{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-extra-boolean-cast": "off",
    "react/prop-types": "off",
    "semi": "error"
  },
  "globals": {
    "localStorage": true,
    "chrome": true
  }
}
